.list-group {
    align-self: flex-start;
    width: 100%;
    font-family: Roboto;
}
.list-ul > li{
    padding: 1rem;
    border-bottom: 1px solid #2a2e3e;
}
.list-ul>li:hover{
    background-image: linear-gradient(to right, #72134b, #1d212c);
}
.item-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}
.about-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
span.safe-name {
    font-family: Roboto;
    font-size: 1.125rem;
}
span.safe-last-updated-info {
    font-family: Roboto;
    font-size: 0.813rem;
}