.list-group {
    align-self: flex-start;
    width: 100%;
    font-family: Roboto;
    overflow-y: scroll;
}
.list-group::-webkit-scrollbar {
    display: none;
}
.list-ul > li{
    padding: 1rem;
    border-bottom: 1px solid #2a2e3e;
    cursor: pointer;
}
.list-ul>li:hover{
    background-image: linear-gradient(to right, #72134b, #1d212c);
}
.item-wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr 2fr;
    align-items: center;
}
.about-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
span.safe-name {
    font-family: Roboto;
    font-size: 1.125rem;
}
span.safe-last-updated-info {
    font-family: Roboto;
    font-size: 0.813rem;
}
span.action-icon-container {
    padding: .8rem;
    border-radius: 50%;
}
.action-icon-container:hover {
    background: rgba(90, 99, 122, 0.2);
    cursor: pointer;
}
.list-ul>li.active{
    background-image: linear-gradient(to right, #72134b, #1d212c);
}
.actions {
    justify-content: flex-end;
    display: none;
}
.actions-folder{
justify-content: flex-end;
justify-self: flex-end;
}
.active>.item-wrapper>.actions {
    display: flex;
}
.safe-lists{
    height: calc(100vh - 13.65rem );
    overflow-y: scroll;
}
.safe-icon-img{
    width: 2.125rem;
    height: 2.438rem;
}
.safe-lists::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: .2rem;
	background-color: #151820;
}
.safe-lists::-webkit-scrollbar
{
	width: .2rem;
	background-color: #151820;
}
.safe-lists::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #72134b;
}
.folder-list{
    height: calc(100vh - 25.1rem );
    overflow-y: scroll;
}
.folder-list::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: .2rem;
	background-color: #151820;
}
.folder-list::-webkit-scrollbar
{
	width: .2rem;
	background-color: #151820;
}
.folder-list::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #72134b;
}
