.main-header {
    position: relative;
}
.main-header>img{
    margin-top: -0.5rem;
    width: 100%;
}
.panel {
    display: grid;
    grid-template-rows: 1fr 5fr;
}
.panel-head {
    border-bottom: 0.188rem solid #222632 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.panel-body {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to bottom, #151820, #2c3040);
}
.banner-safe-info {
    position: absolute;
    right: 0;
    top: 30%;
    width: 70%;
}
.create-new-sec-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.create-new-sec-info>img {
    width: 45%;
}
.create-new-safe-wrapper{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 1rem;
}

.panel-head > span{
    cursor: pointer;
    padding: 1.125rem;
}
.banner-safe-info>h1 {
    font-size: 1.5rem;
    font-family: Roboto;
    padding: 1rem 0;
}

.banner-safe-info>p {
    font-family: Helvetica;
    font-size: 0.875rem;
    color: #c4c4c4;
}
p.about-sec {
    font-family: Helvetica;
    font-size: 0.875rem;
    color: #c4c4c4;
    padding: 1rem;
}
button.add-btn {
    background-color: #454c5e;
    color: white;
}