button{
    cursor: pointer;
    color: #e20074;
    background-color: white;
    border: none;
    padding: 10px;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 0.875;
}
button:hover {
    background-color: #e20074;
    color: #fff;
}
.img-button{
    cursor: pointer;
}