.input-group {
    display: flex;
    background-color: #20232e;
    margin: 0.5rem .58rem;
    padding: 0.525rem 0.838rem;
    width: 15.375rem;
}
.icon-input{
    background-color: #20232e;
    border: none;
    color: #fff;
    
}