header {
    display: flex;
    justify-content: space-between;
    background-color: #151820;
    box-shadow: 0 5px 25px 0 rgb(226 0 116 / 50%);
    position: sticky;
    padding: 0 10.875rem;
    height: 4.375rem;
}
.float-left {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}
ul.nav-menu {
    display: flex;
}
.float-right {
    display: flex;
}
.logo{
    cursor: pointer;
    padding: 1.125rem 0;
}