ul.nav-menu >li {
    display: flex;
    align-self: center;
    padding: 0 10px;
    cursor: pointer;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 0.813rem;
    font-family: Helvetica;
}
ul.nav-menu >li:hover {
    background-image: linear-gradient(0deg, rgb(114, 19, 75), rgb(29, 33, 44));;
}
ul.nav-menu>li>a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
ul.nav-menu >li.active {
    background-image: linear-gradient(0deg, rgb(114, 19, 75), rgb(29, 33, 44));;
}