ul.nav-menu >li {
    display: flex;
    cursor: pointer;
    font-size: 0.813rem;
    min-width: 9.188rem;
    justify-content: center;
    font-family: Helvetica;
}
ul.nav-menu >li:hover {
    background-image: linear-gradient(0deg, rgb(114, 19, 75), rgb(29, 33, 44));;
}
ul.nav-menu>li>a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 1.688rem 0.625rem;
}
ul.nav-menu >li.active {
    background-image: linear-gradient(0deg, rgb(114, 19, 75), rgb(29, 33, 44));;
}
.float-right>ul>li {
    min-width: auto;
}