input{
    background-color: #fff;
    width: 100%;
    color: black;
}
.form-input{
    height: 3.125rem;
    padding: 0.938rem;
}
.form-group {
    display: flex;
    flex-direction: column;
}
label.label {
    padding: 0.5rem 0;
    font-size: 0.813rem;
    font-family: Helvetica;
}
.form-group > p.info {
    font-family: Helvetica;
    color: #8b8ea6;
    font-size: 0.8125rem;
    padding: 0.938rem 0;
}
span.error {
    color: rgb(255 0 0 / 60%);
    font-size: .8rem;
}
input.error{
    border: 3px solid #f44336;
}